createlist/__pycache__/groceryform1.cpython-311.pyc
createlist/__pycache__/groceryform2.cpython-311.pyc
createlist/__pycache__/grocerylist1.cpython-311.pyc
createlist/__pycache__/grocerylist2.cpython-311.pyc
createlist/__pycache__/views.cpython-311.pyc
createlist/__pycache__/formGenerator.cpython-311.pyc
createlist/__pycache__/groceryform1_fields.cpython-311.pyc
createlist/__pycache__/groceryform2_fields.cpython-311.pyc
GroceryList/__pycache__/settings.cpython-311.pyc
