<!DOCTYPE html>
<html>
    <head>
        <title>Groceries</title>
        
    </head>
    <style>

        .header {
            background-color: rgb(238, 232, 196);
        }
        
        .header img {
            float: left;
            width: 100px;
            height: 100px;
            padding-left: 25px;
            background-color: rgb(238, 232, 196);
        }

        .header h1 {
            position: relative;
            top: 18px;
            left: 10px;
            text-align: center;
            
        }
        .form {
            text-align: center;
        }
        
        .error {
          text-align: center;
          color: red;
          font-size: 22px;
        }
        table {
            border-collapse: collapse; /* Ensures borders are combined into a single border */
            width: 50%;
            margin: auto; /* Centers the table */
        }

        table, th, td {
            border: 1px solid black; /* Adds a single thin border */
        }

        th, td {
            padding: 20px; /* Increases cell padding */
        }
        
    </style>
    <body bgcolor = #CAEEC4>

        <div class = "header">
            <br>
            
            
            <font color = #377CDE><h1>Grocery List</h1></font>

            <br><br>
            <hr color=#00008B>
        </div>

    <div class = 'form'>
        <br><br>
    <form method="post">
        {% csrf_token %}
        <table cellpadding = 7; align = center >
            <tr valign="middle">
                <td align="center"><label for="rocksalteng">{{ groceries.rock_salt.english_name }}</label></td>
                <td align="center"><label for="rocksalttam">{{ groceries.rock_salt.tamil_name }}</label></td>
                <td align="left">{{ form.rock_salt_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="finesalteng">{{ groceries.fine_salt.english_name }}</label></td>
                <td align="center"><label for="finesalttam">{{ groceries.fine_salt.tamil_name }}</label></td>
                <td align="left">{{ form.fine_salt_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="turmericpowdereng">{{ groceries.turmeric_powder.english_name }}</label></td>
                <td align="center"><label for="turmericpowdertam">{{ groceries.turmeric_powder.tamil_name }}</label></td>
                <td align="left">{{ form.turmeric_powder_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="sugareng">{{ groceries.sugar.english_name }}</label></td>
                <td align="center"><label for="sugartam">{{ groceries.sugar.tamil_name }}</label></td>
                <td align="left">{{ form.sugar_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="jaggerypowdereng">{{ groceries.jaggery_powder.english_name }}</label></td>
                <td align="center"><label for="jaggerypowdertam">{{ groceries.jaggery_powder.tamil_name }}</label></td>
                <td align="left">{{ form.jaggery_powder_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="sunrisecoffeepowdereng">{{ groceries.sunrise_coffee_powder.english_name }}</label></td>
                <td align="center"><label for="sunrisecoffeepowdertam">{{ groceries.sunrise_coffee_powder.tamil_name }}</label></td>
                <td align="left">{{ form.sunrise_coffee_powder_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="narasusudhayamfiltercoffeeeng">{{ groceries.narasus_udhayam_filter_coffee.english_name }}</label></td>
                <td align="center"><label for="narasusudhayamfiltercoffeetam">{{ groceries.narasus_udhayam_filter_coffee.tamil_name }}</label></td>
                <td align="left">{{ form.narasus_udhayam_filter_coffee_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="udhayamtoordhalleng">{{ groceries.udhayam_toor_dhall.english_name }}</label></td>
                <td align="center"><label for="udhayamtoordhalltam">{{ groceries.udhayam_toor_dhall.tamil_name }}</label></td>
                <td align="left">{{ form.udhayam_toor_dhall_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="udhayamuriddhalleng">{{ groceries.udhayam_urid_dhall.english_name }}</label></td>
                <td align="center"><label for="udhayamuriddhalltam">{{ groceries.udhayam_urid_dhall.tamil_name }}</label></td>
                <td align="left">{{ form.udhayam_urid_dhall_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="parachuteoileng">{{ groceries.parachute_oil.english_name }}</label></td>
                <td align="center"><label for="parachuteoiltam">{{ groceries.parachute_oil.tamil_name }}</label></td>
                <td align="left">{{ form.parachute_oil_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="sufexcelliquideng">{{ groceries.surf_excel_liquid.english_name }}</label></td>
                <td align="center"><label for="sufexcelliquidtam">{{ groceries.surf_excel_liquid.tamil_name }}</label></td>
                <td align="left">{{ form.surf_excel_liquid_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="surfexcelsoapeng">{{ groceries.surf_excel_soap.english_name }}</label></td>
                <td align="center"><label for="surfexcelsoaptam">{{ groceries.surf_excel_soap.tamil_name }}</label></td>
                <td align="left">{{ form.surf_excel_soap_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="comfortliquideng">{{ groceries.comfort_liquid.english_name }}</label></td>
                <td align="center"><label for="comfortliquidtam">{{ groceries.comfort_liquid.tamil_name }}</label></td>
                <td align="left">{{ form.comfort_liquid_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="himalayababyshampooeng">{{ groceries.himalaya_baby_shampoo.english_name }}</label></td>
                <td align="center"><label for="himalayababyshampootam">{{ groceries.himalaya_baby_shampoo.tamil_name }}</label></td>
                <td align="left">{{ form.himalaya_baby_shampoo_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="meerashampooeng">{{ groceries.meera_shampoo.english_name }}</label></td>
                <td align="center"><label for="meerashampootam">{{ groceries.meera_shampoo.tamil_name }}</label></td>
                <td align="left">{{ form.meera_shampoo_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="colgatepasteeng">{{ groceries.colgate_paste.english_name }}</label></td>
                <td align="center"><label for="colgatepastetam">{{ groceries.colgate_paste.tamil_name }}</label></td>
                <td align="left">{{ form.colgate_paste_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="exoroundeng">{{ groceries.exo_round.english_name }}</label></td>
                <td align="center"><label for="exoroundtam">{{ groceries.exo_round.tamil_name }}</label></td>
                <td align="left">{{ form.exo_round_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="humamsoapeng">{{ groceries.humam_soap.english_name }}</label></td>
                <td align="center"><label for="humamsoaptam">{{ groceries.humam_soap.tamil_name }}</label></td>
                <td align="left">{{ form.humam_soap_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="harpiceng">{{ groceries.harpic.english_name }}</label></td>
                <td align="center"><label for="harpictam">{{ groceries.harpic.tamil_name }}</label></td>
                <td align="left">{{ form.harpic_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="jasmineessenceeng">{{ groceries.jasmineessence.english_name }}</label></td>
                <td align="center"><label for="jasmineessencetam">{{ groceries.jasmineessence.tamil_name }}</label></td>
                <td align="left">{{ form.jasmineessence_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="prilleng">{{ groceries.prill.english_name }}</label></td>
                <td align="center"><label for="prilltam">{{ groceries.prill.tamil_name }}</label></td>
                <td align="left">{{ form.prill_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="vimliquidyelloweng">{{ groceries.vim_liquid_yellow.english_name }}</label></td>
                <td align="center"><label for="vimliquidyellowtam">{{ groceries.vim_liquid_yellow.tamil_name }}</label></td>
                <td align="left">{{ form.vim_liquid_yellow_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="corienderseedeng">{{ groceries.coriander_seed.english_name }}</label></td>
                <td align="center"><label for="corienderseedtam">{{ groceries.coriander_seed.tamil_name }}</label></td>
                <td align="left">{{ form.coriander_seed_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="soyaeng">{{ groceries.soya.english_name }}</label></td>
                <td align="center"><label for="soyatam">{{ groceries.soya.tamil_name }}</label></td>
                <td align="left">{{ form.soya_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="whitepattaneng">{{ groceries.white_pattani.english_name }}</label></td>
                <td align="center"><label for="whitepattanitam">{{ groceries.white_pattani.tamil_name }}</label></td>
                <td align="left">{{ form.white_pattani_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="pattanidhalleng">{{ groceries.pattani_dhall.english_name }}</label></td>
                <td align="center"><label for="pattanidhalitam">{{ groceries.pattani_dhall.tamil_name }}</label></td>
                <td align="left">{{ form.pattani_dhall_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="whitechannaeng">{{ groceries.white_channa.english_name }}</label></td>
                <td align="center"><label for="whitechannatam">{{ groceries.white_channa.tamil_name }}</label></td>
                <td align="left">{{ form.white_channa_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="roastedgramdhalleng">{{ groceries.roasted_gram_dhall.english_name }}</label></td>
                <td align="center"><label for="roastedgramdhalitam">{{ groceries.roasted_gram_dhall.tamil_name }}</label></td>
                <td align="left">{{ form.roasted_gram_dhall_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="moongdhalleng">{{ groceries.moong_dhall.english_name }}</label></td>
                <td align="center"><label for="moongdhalltam">{{ groceries.moong_dhall.tamil_name }}</label></td>
                <td align="left">{{ form.moong_dhall_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="blacksplitdhalleng">{{ groceries.black_split_dhall.english_name }}</label></td>
                <td align="center"><label for="blacksplitdhalltam">{{ groceries.black_split_dhall.tamil_name }}</label></td>
                <td align="left">{{ form.black_split_dhall_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="bengalgramdhalleng">{{ groceries.bengal_gram_dhall.english_name }}</label></td>
                <td align="center"><label for="bengalgramdhalltam">{{ groceries.bengal_gram_dhall.tamil_name }}</label></td>
                <td align="left">{{ form.bengal_gram_dhall_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="tamarideng">{{ groceries.tamarind.english_name }}</label></td>
                <td align="center"><label for="tamaridtam">{{ groceries.tamarind.tamil_name }}</label></td>
                <td align="left">{{ form.tamarind_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="greenbeaneng">{{ groceries.green_bean.english_name }}</label></td>
                <td align="center"><label for="greenbeantam">{{ groceries.green_bean.tamil_name }}</label></td>
                <td align="left">{{ form.green_bean_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="basmatiriceeng">{{ groceries.basmati_rice.english_name }}</label></td>
                <td align="center"><label for="basmatiricetam">{{ groceries.basmati_rice.tamil_name }}</label></td>
                <td align="left">{{ form.basmati_rice_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="anilsemiyaeng">{{ groceries.anil_semiya.english_name }}</label></td>
                <td align="center"><label for="anilsemiyatam">{{ groceries.anil_semiya.tamil_name }}</label></td>
                <td align="left">{{ form.anil_semiya_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="pappadameng">{{ groceries.pappadam.english_name }}</label></td>
                <td align="center"><label for="pappadamtam">{{ groceries.pappadam.tamil_name }}</label></td>
                <td align="left">{{ form.pappadam_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="pastaeng">{{ groceries.pasta.english_name }}</label></td>
                <td align="center"><label for="pastatam">{{ groceries.pasta.tamil_name }}</label></td>
                <td align="left">{{ form.pasta_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="popcorneng">{{ groceries.popcorn.english_name }}</label></td>
                <td align="center"><label for="popcorntam">{{ groceries.popcorn.tamil_name }}</label></td>
                <td align="left">{{ form.popcorn_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="noodleseng">{{ groceries.noodles.english_name }}</label></td>
                <td align="center"><label for="noodlestam">{{ groceries.noodles.tamil_name }}</label></td>
                <td align="left">{{ form.noodles_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="maggieeng">{{ groceries.maggie.english_name }}</label></td>
                <td align="center"><label for="maggietam">{{ groceries.maggie.tamil_name }}</label></td>
                <td align="left">{{ form.maggie_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="raisinseng">{{ groceries.raisins.english_name }}</label></td>
                <td align="center"><label for="raisinspam">{{ groceries.raisins.tamil_name }}</label></td>
                <td align="left">{{ form.raisins_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="yeasteng">{{ groceries.yeast.english_name }}</label></td>
                <td align="center"><label for="yeasttam">{{ groceries.yeast.tamil_name }}</label></td>
                <td align="left">{{ form.yeast_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="oreganoeng">{{ groceries.oregano.english_name }}</label></td>
                <td align="center"><label for="oreganotam">{{ groceries.oregano.tamil_name }}</label></td>
                <td align="left">{{ form.oregano_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="lgasafoetidapowdereng">{{ groceries.lg_asafoetida_powder.english_name }}</label></td>
                <td align="center"><label for="lgasafoetidapowdertam">{{ groceries.lg_asafoetida_powder.tamil_name }}</label></td>
                <td align="left">{{ form.lg_asafoetida_powder_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="lgasafoetidasolideng">{{ groceries.lg_asafoetida_solid.english_name }}</label></td>
                <td align="center"><label for="lgasafoetidasolidtam">{{ groceries.lg_asafoetida_solid.tamil_name }}</label></td>
                <td align="left">{{ form.lg_asafoetida_solid_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="glucoseeng">{{ groceries.glucose.english_name }}</label></td>
                <td align="center"><label for="glucosetam">{{ groceries.glucose.tamil_name }}</label></td>
                <td align="left">{{ form.glucose_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="cardamoneng">{{ groceries.cardamon.english_name }}</label></td>
                <td align="center"><label for="cardamontam">{{ groceries.cardamon.tamil_name }}</label></td>
                <td align="left">{{ form.cardamon_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="cinnamoneng">{{ groceries.cinnamon.english_name }}</label></td>
                <td align="center"><label for="cinnamontam">{{ groceries.cinnamon.tamil_name }}</label></td>
                <td align="left">{{ form.cinnamon_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="cloveeng">{{ groceries.clove.english_name }}</label></td>
                <td align="center"><label for="clovetam">{{ groceries.clove.tamil_name }}</label></td>
                <td align="left">{{ form.clove_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="chocoseng">{{ groceries.chocos.english_name }}</label></td>
                <td align="center"><label for="chocostam">{{ groceries.chocos.tamil_name }}</label></td>
                <td align="left">{{ form.chocos_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="gooddaybiscuiteng">{{ groceries.good_day_biscuit.english_name }}</label></td>
                <td align="center"><label for="gooddaybiscuitam">{{ groceries.good_day_biscuit.tamil_name }}</label></td>
                <td align="left">{{ form.good_day_biscuit_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="nicetimebiscuiteng">{{ groceries.nice_time_biscuit.english_name }}</label></td>
                <td align="center"><label for="nicetimebiscuitam">{{ groceries.nice_time_biscuit.tamil_name }}</label></td>
                <td align="left">{{ form.nice_time_biscuit_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="milkibikiseng">{{ groceries.milki_bikis.english_name }}</label></td>
                <td align="center"><label for="milkibikistam">{{ groceries.milki_bikis.tamil_name }}</label></td>
                <td align="left">{{ form.milki_bikis_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="rasigoldcoconutoileng">{{ groceries.rasi_gold_coconut_oil.english_name }}</label></td>
                <td align="center"><label for="rasigoldcoconutoiltam">{{ groceries.rasi_gold_coconut_oil.tamil_name }}</label></td>
                <td align="left">{{ form.rasi_gold_coconut_oil_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="rasigoldingellyoileng">{{ groceries.rasi_gold_gingelly_oil.english_name }}</label></td>
                <td align="center"><label for="rasigoldingellyoiltam">{{ groceries.rasi_gold_gingelly_oil.tamil_name }}</label></td>
                <td align="left">{{ form.rasi_gold_gingelly_oil_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="rasigoldgroundnutoileng">{{ groceries.rasi_gold_groundnut_oil.english_name }}</label></td>
                <td align="center"><label for="rasigoldgroundnutoiltam">{{ groceries.rasi_gold_groundnut_oil.tamil_name }}</label></td>
                <td align="left">{{ form.rasi_gold_groundnut_oil_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="grbgheeeng">{{ groceries.grbghee.english_name }}</label></td>
                <td align="center"><label for="grbgheetam">{{ groceries.grbghee.tamil_name }}</label></td>
                <td align="left">{{ form.grbghee_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="reddriedchillieng">{{ groceries.red_dried_chilli.english_name }}</label></td>
                <td align="center"><label for="reddriedchillitam">{{ groceries.red_dried_chilli.tamil_name }}</label></td>
                <td align="left">{{ form.red_dried_chilli_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="redchillipowdereng">{{ groceries.red_chilli_powder.english_name }}</label></td>
                <td align="center"><label for="redchillipowdertam">{{ groceries.red_chilli_powder.tamil_name }}</label></td>
                <td align="left">{{ form.red_chilli_powder_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="corienderpowdereng">{{ groceries.coriander_powder.english_name }}</label></td>
                <td align="center"><label for="corienderpowdertam">{{ groceries.coriander_powder.tamil_name }}</label></td>
                <td align="left">{{ form.coriander_powder_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="maidafloureng">{{ groceries.maida_flour.english_name }}</label></td>
                <td align="center"><label for="maidaflourtam">{{ groceries.maida_flour.tamil_name }}</label></td>
                <td align="left">{{ form.maida_flour_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="ravaeng">{{ groceries.rava.english_name }}</label></td>
                <td align="center"><label for="ravatam">{{ groceries.rava.tamil_name }}</label></td>
                <td align="left">{{ form.rava_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="ragifloureng">{{ groceries.ragi_flour.english_name }}</label></td>
                <td align="center"><label for="ragiflourtam">{{ groceries.ragi_flour.tamil_name }}</label></td>
                <td align="left">{{ form.ragi_flour_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="wheatfloureng">{{ groceries.wheat_flour.english_name }}</label></td>
                <td align="center"><label for="wheatflourtam">{{ groceries.wheat_flour.tamil_name }}</label></td>
                <td align="left">{{ form.wheat_flour_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="bengalgramfloureng">{{ groceries.bengal_gram_flour.english_name }}</label></td>
                <td align="center"><label for="bengalgramflourtam">{{ groceries.bengal_gram_flour.tamil_name }}</label></td>
                <td align="left">{{ form.bengal_gram_flour_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="cornfloureng">{{ groceries.corn_flour.english_name }}</label></td>
                <td align="center"><label for="cornflourtam">{{ groceries.corn_flour.tamil_name }}</label></td>
                <td align="left">{{ form.corn_flour_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="idyappamfloureng">{{ groceries.idyappam_flour.english_name }}</label></td>
                <td align="center"><label for="idyappamflourtam">{{ groceries.idyappam_flour.tamil_name }}</label></td>
                <td align="left">{{ form.idyappam_flour_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="krishnabrandhealthfloureng">{{ groceries.krishna_brand_health_flour.english_name }}</label></td>
                <td align="center"><label for="krishnabrandhealthflourtam">{{ groceries.krishna_brand_health_flour.tamil_name }}</label></td>
                <td align="left">{{ form.krishna_brand_health_flour_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="vinegareng">{{ groceries.vinegar.english_name }}</label></td>
                <td align="center"><label for="vinegartam">{{ groceries.vinegar.tamil_name }}</label></td>
                <td align="left">{{ form.vinegar_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="tomatoketchupeng">{{ groceries.tomato_ketchup.english_name }}</label></td>
                <td align="center"><label for="tomatoketchuptam">{{ groceries.tomato_ketchup.tamil_name }}</label></td>
                <td align="left">{{ form.tomato_ketchup_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="soyasauteeng">{{ groceries.soya_sauce.english_name }}</label></td>
                <td align="center"><label for="soyasausetam">{{ groceries.soya_sauce.tamil_name }}</label></td>
                <td align="left">{{ form.soya_sauce_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="sesameseedeng">{{ groceries.sesame_seed.english_name }}</label></td>
                <td align="center"><label for="sesameseedtam">{{ groceries.sesame_seed.tamil_name }}</label></td>
                <td align="left">{{ form.sesame_seed_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="mustardeng">{{ groceries.mustard.english_name }}</label></td>
                <td align="center"><label for="mustardtam">{{ groceries.mustard.tamil_name }}</label></td>
                <td align="left">{{ form.mustard_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="peppereng">{{ groceries.pepper.english_name }}</label></td>
                <td align="center"><label for="peppertam">{{ groceries.pepper.tamil_name }}</label></td>
                <td align="left">{{ form.pepper_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="cumminseedeng">{{ groceries.cummin_seed.english_name }}</label></td>
                <td align="center"><label for="cumminseedtam">{{ groceries.cummin_seed.tamil_name }}</label></td>
                <td align="left">{{ form.cummin_seed_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="fenugreekeng">{{ groceries.fenugreek.english_name }}</label></td>
                <td align="center"><label for="fenugreektam">{{ groceries.fenugreek.tamil_name }}</label></td>
                <td align="left">{{ form.fenugreek_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="kasakasaeng">{{ groceries.kasakasa.english_name }}</label></td>
                <td align="center"><label for="kasakasatam">{{ groceries.kasakasa.tamil_name }}</label></td>
                <td align="left">{{ form.kasakasa_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="splitwhitedhalleng">{{ groceries.split_white_dhall.english_name }}</label></td>
                <td align="center"><label for="splitwhitedhalltam">{{ groceries.split_white_dhall.tamil_name }}</label></td>
                <td align="left">{{ form.split_white_dhall_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="gulabjamunmixeng">{{ groceries.gulab_jamun_mix.english_name }}</label></td>
                <td align="center"><label for="gulabjamunmixtam">{{ groceries.gulab_jamun_mix.tamil_name }}</label></td>
                <td align="left">{{ form.gulab_jamun_mix_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="chickenkebabpowdereng">{{ groceries.chicken_kebab_powder.english_name }}</label></td>
                <td align="center"><label for="chickenkebabpowdertam">{{ groceries.chicken_kebab_powder.tamil_name }}</label></td>
                <td align="left">{{ form.chicken_kebab_powder_quantity }}</td>
            </tr>
            
            <tr valign="middle">
                <td align="center"><label for="currymasalaeng">{{ groceries.curry_masala.english_name }}</label></td>
                <td align="center"><label for="currymasalamatam">{{ groceries.curry_masala.tamil_name }}</label></td>
                <td align="left">{{ form.curry_masala_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="garammasalaeng">{{ groceries.garam_masala.english_name }}</label></td>
                <td align="center"><label for="garammasalamatam">{{ groceries.garam_masala.tamil_name }}</label></td>
                <td align="left">{{ form.garam_masala_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="cashewnuteng">{{ groceries.cashew_nut.english_name }}</label></td>
                <td align="center"><label for="cashewnuttam">{{ groceries.cashew_nut.tamil_name }}</label></td>
                <td align="left">{{ form.cashew_nut_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="jaggeryeng">{{ groceries.jaggery.english_name }}</label></td>
                <td align="center"><label for="jaggerytam">{{ groceries.jaggery.tamil_name }}</label></td>
                <td align="left">{{ form.jaggery_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="karuppattieng">{{ groceries.karuppatti.english_name }}</label></td>
                <td align="center"><label for="karuppattitam">{{ groceries.karuppatti.tamil_name }}</label></td>
                <td align="left">{{ form.karuppatti_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="cycleincensestickeng">{{ groceries.cycle_incense_stick.english_name }}</label></td>
                <td align="center"><label for="cycleincensesticktam">{{ groceries.cycle_incense_stick.tamil_name }}</label></td>
                <td align="left">{{ form.cycle_incense_stick_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="deepamoileng">{{ groceries.deepam_oil.english_name }}</label></td>
                <td align="center"><label for="deepamoiltam">{{ groceries.deepam_oil.tamil_name }}</label></td>
                <td align="left">{{ form.deepam_oil_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="camphoreng">{{ groceries.camphor.english_name }}</label></td>
                <td align="center"><label for="camphortam">{{ groceries.camphor.tamil_name }}</label></td>
                <td align="left">{{ form.camphor_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="patchaikarpurameng">{{ groceries.patchai_karpuram.english_name }}</label></td>
                <td align="center"><label for="patchaikarpuramtam">{{ groceries.patchai_karpuram.tamil_name }}</label></td>
                <td align="left">{{ form.patchai_karpuram_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="computersambranieng">{{ groceries.computer_sambrani.english_name }}</label></td>
                <td align="center"><label for="computersambranitam">{{ groceries.computer_sambrani.tamil_name }}</label></td>
                <td align="left">{{ form.computer_sambrani_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="radhakrishnaponniriceeng">{{ groceries.radha_krishna_ponni_rice.english_name }}</label></td>
                <td align="center"><label for="radhakrishnaponniricetam">{{ groceries.radha_krishna_ponni_rice.tamil_name }}</label></td>
                <td align="left">{{ form.radha_krishna_ponni_rice_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="chennaigateponniriceeng">{{ groceries.chennai_gate_ponni_rice.english_name }}</label></td>
                <td align="center"><label for="chennaigateponniricetam">{{ groceries.chennai_gate_ponni_rice.tamil_name }}</label></td>
                <td align="left">{{ form.chennai_gate_ponni_rice_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="idlyriceeng">{{ groceries.idly_rice.english_name }}</label></td>
                <td align="center"><label for="idlyricetam">{{ groceries.idly_rice.tamil_name }}</label></td>
                <td align="left">{{ form.idly_rice_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="garliceng">{{ groceries.garlic.english_name }}</label></td>
                <td align="center"><label for="garlictam">{{ groceries.garlic.tamil_name }}</label></td>
                <td align="left">{{ form.garlic_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="smallonioneng">{{ groceries.small_onion.english_name }}</label></td>
                <td align="center"><label for="smalloniontam">{{ groceries.small_onion.tamil_name }}</label></td>
                <td align="left">{{ form.small_onion_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="bigonioneng">{{ groceries.big_onion.english_name }}</label></td>
                <td align="center"><label for="bigoniontam">{{ groceries.big_onion.tamil_name }}</label></td>
                <td align="left">{{ form.big_onion_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="gingereng">{{ groceries.ginger.english_name }}</label></td>
                <td align="center"><label for="gingertam">{{ groceries.ginger.tamil_name }}</label></td>
                <td align="left">{{ form.ginger_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="himalayahandwasheng">{{ groceries.himalaya_hand_wash.english_name }}</label></td>
                <td align="center"><label for="himalayahandwashtam">{{ groceries.himalaya_hand_wash.tamil_name }}</label></td>
                <td align="left">{{ form.himalaya_hand_wash_quantity }}</td>
            </tr>
            

            <tr valign="middle">
                <td clign = "right"><label for="notes">Notes</label></td>
                <td align="left" colspan="2">{{ form.notes }}</td>
            </tr>
        </table>
            


        <br><br>
        
        <button type="submit">Save</button>
        
    </form>
    </div>
</body>
</html>