<!DOCTYPE html>
<html>
    <head>
        <title>Groceries</title>
        
    </head>
    <style>

        .header {
            background-color: rgb(238, 232, 196);
        }
        
        .header img {
            float: left;
            width: 100px;
            height: 100px;
            padding-left: 25px;
            background-color: rgb(238, 232, 196);
        }

        .header h1 {
            position: relative;
            top: 18px;
            left: 10px;
            text-align: center;
            
        }
        .form {
            text-align: center;
        }
        
        .error {
          text-align: center;
          color: red;
          font-size: 22px;
        }
        table {
            border-collapse: collapse; /* Ensures borders are combined into a single border */
            width: 50%;
            margin: auto; /* Centers the table */
        }

        table, th, td {
            border: 1px solid black; /* Adds a single thin border */
        }

        th, td {
            padding: 20px; /* Increases cell padding */
        }
        
    </style>
    <body bgcolor = #CAEEC4>

        <div class = "header">
            <br>
            
            
            <font color = #377CDE><h1>Grocery List</h1></font>

            <br><br>
            <hr color=#00008B>
        </div>

    <div class = 'form'>
        <br><br>
    <form method="post">
        {% csrf_token %}
        <table cellpadding = 7; align = center >
            <tr valign="middle">
                <td align="center"><label for="rocksalteng">{{ groceries.rocksalt.english_name }}</label></td>
                <td align="center"><label for="rocksalttam">{{ groceries.rocksalt.tamil_name }}</label></td>
                <td align="left">{{ form.rocksalt_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="fineslteng">{{ groceries.fineslt.english_name }}</label></td>
                <td align="center"><label for="fineslttam">{{ groceries.fineslt.tamil_name }}</label></td>
                <td align="left">{{ form.fineslt_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="turmericeng">{{ groceries.turmeric.english_name }}</label></td>
                <td align="center"><label for="turmerictam">{{ groceries.turmeric.tamil_name }}</label></td>
                <td align="left">{{ form.turmeric_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="brownsugareng">{{ groceries.brownsugar.english_name }}</label></td>
                <td align="center"><label for="brownsugartam">{{ groceries.brownsugar.tamil_name }}</label></td>
                <td align="left">{{ form.brownsugar_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="whitesugareng">{{ groceries.whitesugar.english_name }}</label></td>
                <td align="center"><label for="whitesugartam">{{ groceries.whitesugar.tamil_name }}</label></td>
                <td align="left">{{ form.whitesugar_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="uriddhalleng">{{ groceries.uriddhall.english_name }}</label></td>
                <td align="center"><label for="uriddhalltam">{{ groceries.uriddhall.tamil_name }}</label></td>
                <td align="left">{{ form.uriddhall_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="dhalluridspliteng">{{ groceries.dhalluridsplit.english_name }}</label></td>
                <td align="center"><label for="dhalluridsplittam">{{ groceries.dhalluridsplit.tamil_name }}</label></td>
                <td align="left">{{ form.dhalluridsplit_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="toordhalleng">{{ groceries.toordhall.english_name }}</label></td>
                <td align="center"><label for="toordhalltam">{{ groceries.toordhall.tamil_name }}</label></td>
                <td align="left">{{ form.toordhall_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="splitblackdhalleng">{{ groceries.splitblackdhall.english_name }}</label></td>
                <td align="center"><label for="splitblackdhalltam">{{ groceries.splitblackdhall.tamil_name }}</label></td>
                <td align="left">{{ form.splitblackdhall_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="bbengalgramdhalleng">{{ groceries.bbengalgramdhall.english_name }}</label></td>
                <td align="center"><label for="bbengalgramdhalltam">{{ groceries.bbengalgramdhall.tamil_name }}</label></td>
                <td align="left">{{ form.bbengalgramdhall_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="whitechannaeng">{{ groceries.whitechanna.english_name }}</label></td>
                <td align="center"><label for="whitechannatam">{{ groceries.whitechanna.tamil_name }}</label></td>
                <td align="left">{{ form.whitechanna_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="peanuteng">{{ groceries.peanut.english_name }}</label></td>
                <td align="center"><label for="peanuttam">{{ groceries.peanut.tamil_name }}</label></td>
                <td align="left">{{ form.peanut_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="mustardeng">{{ groceries.mustard.english_name }}</label></td>
                <td align="center"><label for="mustardtam">{{ groceries.mustard.tamil_name }}</label></td>
                <td align="left">{{ form.mustard_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="peppereng">{{ groceries.pepper.english_name }}</label></td>
                <td align="center"><label for="peppertam">{{ groceries.pepper.tamil_name }}</label></td>
                <td align="left">{{ form.pepper_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="fenugreekeng">{{ groceries.fenugreek.english_name }}</label></td>
                <td align="center"><label for="fenugreektam">{{ groceries.fenugreek.tamil_name }}</label></td>
                <td align="left">{{ form.fenugreek_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="ravaeng">{{ groceries.rava.english_name }}</label></td>
                <td align="center"><label for="ravatam">{{ groceries.rava.tamil_name }}</label></td>
                <td align="left">{{ form.rava_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="idlyriceeng">{{ groceries.idlyrice.english_name }}</label></td>
                <td align="center"><label for="idlyricetam">{{ groceries.idlyrice.tamil_name }}</label></td>
                <td align="left">{{ form.idlyrice_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="ponniriceeng">{{ groceries.ponnirice.english_name }}</label></td>
                <td align="center"><label for="ponniricetam">{{ groceries.ponnirice.tamil_name }}</label></td>
                <td align="left">{{ form.ponnirice_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="basmatiriceeng">{{ groceries.basmatirice.english_name }}</label></td>
                <td align="center"><label for="basmatiricetam">{{ groceries.basmatirice.tamil_name }}</label></td>
                <td align="left">{{ form.basmatirice_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="rawriceeng">{{ groceries.rawrice.english_name }}</label></td>
                <td align="center"><label for="rawricetam">{{ groceries.rawrice.tamil_name }}</label></td>
                <td align="left">{{ form.rawrice_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="jeerariceeng">{{ groceries.jeerarice.english_name }}</label></td>
                <td align="center"><label for="jeeraricetam">{{ groceries.jeerarice.tamil_name }}</label></td>
                <td align="left">{{ form.jeerarice_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="idayamgingellyoileng">{{ groceries.idayamgingellyoil.english_name }}</label></td>
                <td align="center"><label for="idayamgingellyoiltam">{{ groceries.idayamgingellyoil.tamil_name }}</label></td>
                <td align="left">{{ form.idayamgingellyoil_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="goldwinnereng">{{ groceries.goldwinner.english_name }}</label></td>
                <td align="center"><label for="goldwinnertam">{{ groceries.goldwinner.tamil_name }}</label></td>
                <td align="left">{{ form.goldwinner_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="coconutoileng">{{ groceries.coconutoil.english_name }}</label></td>
                <td align="center"><label for="coconutoiltam">{{ groceries.coconutoil.tamil_name }}</label></td>
                <td align="left">{{ form.coconutoil_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="coldpressoileng">{{ groceries.coldpressoil.english_name }}</label></td>
                <td align="center"><label for="coldpressoiltam">{{ groceries.coldpressoil.tamil_name }}</label></td>
                <td align="left">{{ form.coldpressoil_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="tamerindeng">{{ groceries.tamerind.english_name }}</label></td>
                <td align="center"><label for="tamerindtam">{{ groceries.tamerind.tamil_name }}</label></td>
                <td align="left">{{ form.tamerind_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="roastedgramdhalleng">{{ groceries.roastedgramdhall.english_name }}</label></td>
                <td align="center"><label for="roastedgramdhalltam">{{ groceries.roastedgramdhall.tamil_name }}</label></td>
                <td align="left">{{ form.roastedgramdhall_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="ragifloureng">{{ groceries.ragiflour.english_name }}</label></td>
                <td align="center"><label for="ragiflourtam">{{ groceries.ragiflour.tamil_name }}</label></td>
                <td align="left">{{ form.ragiflour_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="moongdhalleng">{{ groceries.moongdhall.english_name }}</label></td>
                <td align="center"><label for="moongdhalltam">{{ groceries.moongdhall.tamil_name }}</label></td>
                <td align="left">{{ form.moongdhall_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="greanbeaneng">{{ groceries.greanbean.english_name }}</label></td>
                <td align="center"><label for="greanbeantam">{{ groceries.greanbean.tamil_name }}</label></td>
                <td align="left">{{ form.greanbean_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="blackchannaeng">{{ groceries.blackchanna.english_name }}</label></td>
                <td align="center"><label for="blackchannatam">{{ groceries.blackchanna.tamil_name }}</label></td>
                <td align="left">{{ form.blackchanna_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="motchaibeaneng">{{ groceries.motchaibean.english_name }}</label></td>
                <td align="center"><label for="motchaibeantam">{{ groceries.motchaibean.tamil_name }}</label></td>
                <td align="left">{{ form.motchaibean_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="pappadameng">{{ groceries.pappadam.english_name }}</label></td>
                <td align="center"><label for="pappadamtam">{{ groceries.pappadam.tamil_name }}</label></td>
                <td align="left">{{ form.pappadam_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="boosteng">{{ groceries.boost.english_name }}</label></td>
                <td align="center"><label for="boosttam">{{ groceries.boost.tamil_name }}</label></td>
                <td align="left">{{ form.boost_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="filtercoffeeeng">{{ groceries.filtercoffee.english_name }}</label></td>
                <td align="center"><label for="filtercoffeetam">{{ groceries.filtercoffee.tamil_name }}</label></td>
                <td align="left">{{ form.filtercoffee_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="ajaxeng">{{ groceries.ajax.english_name }}</label></td>
                <td align="center"><label for="ajaxtam">{{ groceries.ajax.tamil_name }}</label></td>
                <td align="left">{{ form.ajax_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="vimliquideng">{{ groceries.vimliquid.english_name }}</label></td>
                <td align="center"><label for="vimliquidtam">{{ groceries.vimliquid.tamil_name }}</label></td>
                <td align="left">{{ form.vimliquid_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="vimbareng">{{ groceries.vimbar.english_name }}</label></td>
                <td align="center"><label for="vimbartam">{{ groceries.vimbar.tamil_name }}</label></td>
                <td align="left">{{ form.vimbar_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="surfexcelpowdereng">{{ groceries.surfexcelpowder.english_name }}</label></td>
                <td align="center"><label for="surfexcelpowdertam">{{ groceries.surfexcelpowder.tamil_name }}</label></td>
                <td align="left">{{ form.surfexcelpowder_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="surfexcelbareng">{{ groceries.surfexcelbar.english_name }}</label></td>
                <td align="center"><label for="surfexcelbartam">{{ groceries.surfexcelbar.tamil_name }}</label></td>
                <td align="left">{{ form.surfexcelbar_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="dettolliquideng">{{ groceries.dettolliquid.english_name }}</label></td>
                <td align="center"><label for="dettolliquidtam">{{ groceries.dettolliquid.tamil_name }}</label></td>
                <td align="left">{{ form.dettolliquid_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="hotwaterbageng">{{ groceries.hotwaterbag.english_name }}</label></td>
                <td align="center"><label for="hotwaterbagtam">{{ groceries.hotwaterbag.tamil_name }}</label></td>
                <td align="left">{{ form.hotwaterbag_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="carrybageng">{{ groceries.carrybag.english_name }}</label></td>
                <td align="center"><label for="carrybagtam">{{ groceries.carrybag.tamil_name }}</label></td>
                <td align="left">{{ form.carrybag_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="smallonioneng">{{ groceries.smallonion.english_name }}</label></td>
                <td align="center"><label for="smalloniontam">{{ groceries.smallonion.tamil_name }}</label></td>
                <td align="left">{{ form.smallonion_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="gheeeng">{{ groceries.ghee.english_name }}</label></td>
                <td align="center"><label for="gheetam">{{ groceries.ghee.tamil_name }}</label></td>
                <td align="left">{{ form.ghee_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="cashewnuteng">{{ groceries.cashewnut.english_name }}</label></td>
                <td align="center"><label for="cashewnuttam">{{ groceries.cashewnut.tamil_name }}</label></td>
                <td align="left">{{ form.cashewnut_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="murukkufloureng">{{ groceries.murukkuflour.english_name }}</label></td>
                <td align="center"><label for="murukkuflourtam">{{ groceries.murukkuflour.tamil_name }}</label></td>
                <td align="left">{{ form.murukkuflour_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="ricefloureng">{{ groceries.riceflour.english_name }}</label></td>
                <td align="center"><label for="riceflourtam">{{ groceries.riceflour.tamil_name }}</label></td>
                <td align="left">{{ form.riceflour_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="bengalgramfloureng">{{ groceries.bengalgramflour.english_name }}</label></td>
                <td align="center"><label for="bengalgramflourtam">{{ groceries.bengalgramflour.tamil_name }}</label></td>
                <td align="left">{{ form.bengalgramflour_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="cornfloureng">{{ groceries.cornflour.english_name }}</label></td>
                <td align="center"><label for="cornflourtam">{{ groceries.cornflour.tamil_name }}</label></td>
                <td align="left">{{ form.cornflour_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="maidafloureng">{{ groceries.maidaflour.english_name }}</label></td>
                <td align="center"><label for="maidaflourtam">{{ groceries.maidaflour.tamil_name }}</label></td>
                <td align="left">{{ form.maidaflour_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="himalayashampooeng">{{ groceries.himalayashampoo.english_name }}</label></td>
                <td align="center"><label for="himalayashampootam">{{ groceries.himalayashampoo.tamil_name }}</label></td>
                <td align="left">{{ form.himalayashampoo_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="gokulsandaleng">{{ groceries.gokulsandal.english_name }}</label></td>
                <td align="center"><label for="gokulsandaltam">{{ groceries.gokulsandal.tamil_name }}</label></td>
                <td align="left">{{ form.gokulsandal_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="gulabjamuneng">{{ groceries.gulabjamun.english_name }}</label></td>
                <td align="center"><label for="gulabjamuntam">{{ groceries.gulabjamun.tamil_name }}</label></td>
                <td align="left">{{ form.gulabjamun_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="avaleng">{{ groceries.aval.english_name }}</label></td>
                <td align="center"><label for="avaltam">{{ groceries.aval.tamil_name }}</label></td>
                <td align="left">{{ form.aval_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="jaggeryeng">{{ groceries.jaggery.english_name }}</label></td>
                <td align="center"><label for="jaggerytam">{{ groceries.jaggery.tamil_name }}</label></td>
                <td align="left">{{ form.jaggery_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="citronpickleeng">{{ groceries.citronpickle.english_name }}</label></td>
                <td align="center"><label for="citronpickletam">{{ groceries.citronpickle.tamil_name }}</label></td>
                <td align="left">{{ form.citronpickle_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="incenseeng">{{ groceries.incense.english_name }}</label></td>
                <td align="center"><label for="incensetam">{{ groceries.incense.tamil_name }}</label></td>
                <td align="left">{{ form.incense_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="sambranieng">{{ groceries.sambrani.english_name }}</label></td>
                <td align="center"><label for="sambranitam">{{ groceries.sambrani.tamil_name }}</label></td>
                <td align="left">{{ form.sambrani_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="prayeroileng">{{ groceries.prayeroil.english_name }}</label></td>
                <td align="center"><label for="prayeroiltam">{{ groceries.prayeroil.tamil_name }}</label></td>
                <td align="left">{{ form.prayeroil_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="panjuthirieng">{{ groceries.panjuthiri.english_name }}</label></td>
                <td align="center"><label for="panjuthiritam">{{ groceries.panjuthiri.tamil_name }}</label></td>
                <td align="left">{{ form.panjuthiri_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="sandalpowdereng">{{ groceries.sandalpowder.english_name }}</label></td>
                <td align="center"><label for="sandalpowdertam">{{ groceries.sandalpowder.tamil_name }}</label></td>
                <td align="left">{{ form.sandalpowder_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="paneerwatereng">{{ groceries.paneerwater.english_name }}</label></td>
                <td align="center"><label for="paneerwatertam">{{ groceries.paneerwater.tamil_name }}</label></td>
                <td align="left">{{ form.paneerwater_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="vermicellieng">{{ groceries.vermicelli.english_name }}</label></td>
                <td align="center"><label for="vermicellitam">{{ groceries.vermicelli.tamil_name }}</label></td>
                <td align="left">{{ form.vermicelli_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="lgeng">{{ groceries.lg.english_name }}</label></td>
                <td align="center"><label for="lgtam">{{ groceries.lg.tamil_name }}</label></td>
                <td align="left">{{ form.lg_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="cummineng">{{ groceries.cummin.english_name }}</label></td>
                <td align="center"><label for="cummintam">{{ groceries.cummin.tamil_name }}</label></td>
                <td align="left">{{ form.cummin_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="fennelseedeng">{{ groceries.fennelseed.english_name }}</label></td>
                <td align="center"><label for="fennelseedtam">{{ groceries.fennelseed.tamil_name }}</label></td>
                <td align="left">{{ form.fennelseed_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="gooddaybiscuiteng">{{ groceries.gooddaybiscuit.english_name }}</label></td>
                <td align="center"><label for="gooddaybiscuittam">{{ groceries.gooddaybiscuit.tamil_name }}</label></td>
                <td align="left">{{ form.gooddaybiscuit_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="bhelpurieng">{{ groceries.bhelpuri.english_name }}</label></td>
                <td align="center"><label for="bhelpuritam">{{ groceries.bhelpuri.tamil_name }}</label></td>
                <td align="left">{{ form.bhelpuri_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="cardamoneng">{{ groceries.cardamon.english_name }}</label></td>
                <td align="center"><label for="cardamontam">{{ groceries.cardamon.tamil_name }}</label></td>
                <td align="left">{{ form.cardamon_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="bayleafeng">{{ groceries.bayleaf.english_name }}</label></td>
                <td align="center"><label for="bayleaftam">{{ groceries.bayleaf.tamil_name }}</label></td>
                <td align="left">{{ form.bayleaf_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="corienderseedeng">{{ groceries.corienderseed.english_name }}</label></td>
                <td align="center"><label for="corienderseedtam">{{ groceries.corienderseed.tamil_name }}</label></td>
                <td align="left">{{ form.corienderseed_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="javvarasieng">{{ groceries.javvarasi.english_name }}</label></td>
                <td align="center"><label for="javvarasitam">{{ groceries.javvarasi.tamil_name }}</label></td>
                <td align="left">{{ form.javvarasi_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="kodomilleteng">{{ groceries.kodomillet.english_name }}</label></td>
                <td align="center"><label for="kodomillettam">{{ groceries.kodomillet.tamil_name }}</label></td>
                <td align="left">{{ form.kodomillet_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="littlemilleteng">{{ groceries.littlemillet.english_name }}</label></td>
                <td align="center"><label for="littlemillettam">{{ groceries.littlemillet.tamil_name }}</label></td>
                <td align="left">{{ form.littlemillet_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="barnyardmilleteng">{{ groceries.barnyardmillet.english_name }}</label></td>
                <td align="center"><label for="barnyardmillettam">{{ groceries.barnyardmillet.tamil_name }}</label></td>
                <td align="left">{{ form.barnyardmillet_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="mattariceeng">{{ groceries.mattarice.english_name }}</label></td>
                <td align="center"><label for="mattaricetam">{{ groceries.mattarice.tamil_name }}</label></td>
                <td align="left">{{ form.mattarice_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="muttonmasalaeng">{{ groceries.muttonmasala.english_name }}</label></td>
                <td align="center"><label for="muttonmasalatam">{{ groceries.muttonmasala.tamil_name }}</label></td>
                <td align="left">{{ form.muttonmasala_quantity }}</td>
            </tr>
            <tr valign="middle">
                <td align="center"><label for="chicken65masalaeng">{{ groceries.chicken65masala.english_name }}</label></td>
                <td align="center"><label for="chicken65masalatam">{{ groceries.chicken65masala.tamil_name }}</label></td>
                <td align="left">{{ form.chicken65masala_quantity }}</td>
            </tr>

            <tr valign="middle">
                <td clign = "right"><label for="notes">Notes</label></td>
                <td align="left" colspan="2">{{ form.notes }}</td>
            </tr>
        </table>
            


        <br><br>
        
        <button type="submit">Save</button>
        
    </form>
    </div>
</body>
</html>